{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>About Us</h2>
    
    <h3>Umwelt-Campus Birkenfeld, Hochschule Trier</h3>
    <p>
        Umwelt-Campus Birkenfeld is a unique institution of Hochschule Trier, located in a beautiful natural environment. It focuses on sustainability, environmental studies, and practical applications of technology to create a better future.
    </p>

    <h3>About Chinese Learning</h3>
    <p>
        Chinese Learning is an educational tool designed to help with Chinese Learning. 
    </p>

    <h3>Mission Statement</h3>
    <p>
        Our mission is to promote Language Learning with Markov Chains, following HSK 1-6 guidelines.
    </p>
</div>
{% endblock %}
