<table>
  <tr>
    <th>Chinese</th>
    <th>Pinyin</th>
    <th>English</th>
    <th>Audio</th>
    <th>Image</th>
  </tr>
  {% for word in words %}
  <tr>
    <td style="color: {% if word.part_of_speech == 'noun' %}green{% elif word.part_of_speech == 'verb' %}blue{% elif word.part_of_speech == 'adjective' %}yellow{% elif word.part_of_speech == 'adverb' %}orange{% elif word.part_of_speech == 'pronoun' %}purple{% elif word.part_of_speech == 'preposition' %}pink{% elif word.part_of_speech == 'conjunction' %}grey{% elif word.part_of_speech == 'interjection' %}red{% elif word.part_of_speech == 'measure word' %}brown{% elif word.part_of_speech == 'particle' %}lightblue{% endif %}">
      {{ word.chinese }}
    </td>
    <td style="color: {% if word.part_of_speech == 'noun' %}green{% elif word.part_of_speech == 'verb' %}blue{% elif word.part_of_speech == 'adjective' %}yellow{% elif word.part_of_speech == 'adverb' %}orange{% elif word.part_of_speech == 'pronoun' %}purple{% elif word.part_of_speech == 'preposition' %}pink{% elif word.part_of_speech == 'conjunction' %}grey{% elif word.part_of_speech == 'interjection' %}red{% elif word.part_of_speech == 'measure word' %}brown{% elif word.part_of_speech == 'particle' %}lightblue{% endif %}">
      {{ word.pinyin }}
    </td>
    <td>{{ word.english }}</td>
    <td>
      <button onclick="this.nextElementSibling.play()">🔊 Play</button>
      <audio>
        <source 
          src="https://api.voicerss.org/?key=107f190147ab4b6e91fc3d620792254b&hl=zh-tw&src={{ word.chinese | urlencode }}" 
          type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </td>
    
    <td>
      <img src="{{ word.image }}" alt="{{ word.english }}" width="80">
    </td>
  </tr>
  {% endfor %}
</table>
