{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h1 align="center">Arbeitspaket 1</h1>
    <p>Short description of LCA Demonstrator: <a href="https://www.openlca.org/features/">Open LCA Demonstrator</a></p>
    
    <iframe width="640px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__Q0ndhhUNExPRkFSUTlKTldNMDYzR0s3RzM0MjRROC4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>

  </br> 

    <h1 align="center">Arbeitspaket 2</h1> 
    <p>Short description of second LCA Demonstrator: <a href="https://www.openlca.org/features/">Open LCA Demonstrator 2</a></p>
    
    <iframe width="640px" height="480px" src="https://forms.microsoft.com/r/gfQK95VuJ2?embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
 

  </br> 


    <h1 align="center">Arbeitspaket 3</h1>
      <a>LCA Demonstrator hier probieren: <a href="{{url_for('views.demo')}}">UCB LCA Demonstrator</a> 
</br>

<div class="container mt-4">
  <h2>Demonstratoren</h2>
  <div class="row justify-content-between">
      {% for demo in demonstrator %} 
      <div class="col-md-6 mb-4 d-flex align-items-stretch">
          <div class="card text-center" style="width: 100%; min-width: 180px; height: 260px;">
              <img src="{{ url_for('static', filename=demo.image) }}" class="card-img-top mx-auto d-block" alt="{{ demo.name }}" style="height: 100px; max-width: 95%; object-fit:contain; margin-top: 20px;">
              <div class="card-body">
                  <h5 class="card-title">{{ demo.name }}</h5>
                  <p>{{ demo.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div> <!-- closes row -->
      </div> <!-- closes container -->
    
    <div class="w-100"></div> <!-- ensures new line starts -->

    </br> 

    <h1 align="center">Arbeitspaket 4</h1>
    <p>Webinare/Seminare Erinnerung mit Outlook: <a href="https://www.openlca.org/features/">Teams Calendar</a></p>
    <p>View Event on Eventbrite: </p>
    <div id="eventbrite-widget-container-1312149858549-ap4"></div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '1312149858549',
        iframeContainerId: 'eventbrite-widget-container-1312149858549-ap4',

        // Optional
        iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
  </br>

    <h1 align="center">Arbeitspaket 5</h1>
    <p>Another Webinare/Seminare Erinnerung mit Outlook: <a href="https://www.openlca.org/features/">Teams Calendar</a></p>
    <p>Another View Event on Eventbrite: </p>
    <div id="eventbrite-widget-container-1312149858549-ap5"></div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '1312149858549',
        iframeContainerId: 'eventbrite-widget-container-1312149858549-ap5',

        // Optional
        iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>
    
    {% endblock %}
  

    

